<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:name=".SecureCareMobileApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureCareMobileApp"
        tools:targetApi="31">
        <activity
            android:name=".view.Patient.PatientTestList"
            android:exported="false" />
        <activity
            android:name=".view.Test.TestAdd"
            android:exported="false" />
        <activity
            android:name=".view.Patient.PatientAdd"
            android:exported="false" />
        <activity
            android:name=".view.Patient.PatientUpdate"
            android:exported="false" />
        <activity
            android:name=".view.Patient.PatientList"
            android:exported="false" />
        <activity
            android:name=".view.Patient.PatientAdapter"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>